
body {
  background-color: black;
}

.body {
  background-image: url("https://lh3.ggpht.com/e7K-CHFYUTXfqXqxnBJV0jgQWmSbkVHwvVYj65W0VpI420OrkCNiqSPfRhconWs1n-r1=h900");
  width: 50%;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 20px;
  padding-top: 20px;
  position: relative;
}

.head {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: "Indie Flower";
  margin-top: 50px;
}

.btn {
  align: center;
  background-color: #0D1D3C;
  border-radius: 20px;
  font-size: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}

#data {
  text-align: center;
  font-size: 30px;
  font-family: "Indie Flower";
  color: white;
  background-color: #19366B;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  margin-top: 60px;
  border-radius: 50px;
  opacity: 0.9;
  position: relative;
}

#icon {
  background-color: #0D1D3C;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  font-size: 50px;
  border-radius: 50px;
  padding: 10px;
  padding-bottom: 0px;
  align: middle;
}

#loc {
  font-size: 35px;
  padding: 10px;
  background-color: #0D1D3C;
  border-radius: 50px;
}

#weather {
  padding: 10px;
}

.data {
  padding: 5px;
}

#windicon {
  z-index: 10;
  color: black;
}

.ich {
  font-size: 50px;
}