body {
  background-color: black;
  color: white;  
  font: 30px "Indie Flower";
  text-align: center;
}

.body {
  background-image: url("https://lh3.ggpht.com/e7K-CHFYUTXfqXqxnBJV0jgQWmSbkVHwvVYj65W0VpI420OrkCNiqSPfRhconWs1n-r1=h900");  
  height: 900px;
  margin: 5px auto 0px auto;
  border-radius: 20px;
  padding-top: 20px;
  width: 50%;
}

.head {
  color: white;
  font: 50px "Indie Flower";  
  margin-top: 50px;
  text-align: center;    
}

.btn {  
  background-color: #0D1D3C;
  border-radius: 20px;
  margin-bottom: 5px;
  font-size: 30px;  
}

#data { 
  background-color: #19366B;
  border-radius: 50px;
  margin: 60px auto 0 auto;
  opacity: 0.9;
  width: 50%;
}

#icon {
  background-color: #0D1D3C;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;  
  font-size: 50px; 
  padding: 10px; 
  width: 65px;
  height: 65px;
}

#loc {
  background-color: #0D1D3C;
  border-radius: 50px;
  font-size: 35px;
  padding: 10px;  
}

#weather {
  padding: 10px;
}

.data {
  padding: 5px;
}

.ich {
  font-size: 50px;
}